@model WebKN.Entities.UsuarioEnt

@{
    ViewBag.Title = "RegistrarCuenta";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<section class="home-slider-loop-false  inner-page owl-carousel" style="margin-bottom: -100px;">
    <div class="slider-item" style="background-image: url('../../template/img/gallery-7.jpg');">




        <div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">





                    <h1>Registrarse </h1>
                </div>
            </div>
        </div>

    </div>

</section>


<br />
<br />

<div class="content-wrapper d-flex align-items-center auth px-0">
    <div class="row w-100 mx-0">
        <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo">
                    <h1 class="h2">Conviertete en miembro</h1>
                </div>

                @if (ViewBag.MensajeUsuario != null)
                {
                    <div class="alert alert-danger" role="alert" style="text-align:center">
                        @ViewBag.MensajeUsuario
                    </div>
                }

                @using (Html.BeginForm("RegistrarCuenta", "Login", FormMethod.Post, new { @class = "pt-3" }))
                {
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Identificacion, new
                        {
                            @class = "form-control form-control-lg",
                            @placeholder = "Identificación",
                            @type = "text",
                            onkeyup = "ConsultarNombre();"
                        })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Nombre, new { @readOnly = "readOnly", @style = "background-color:#eeeeee", @class = "form-control form-control-lg", @placeholder = "Nombre", @type = "text" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Correo, new { @class = "form-control form-control-lg", @placeholder = "Correo Electrónico", @type = "email" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Contrasenna, new { @class = "form-control form-control-lg", @placeholder = "Contraseña", @type = "password" })
                    </div>
                    <div class="mt-3">
                        <input type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="REGISTRARSE">
                    </div>
                    <div class="text-center mt-4 font-weight-light">
                        ¿Ya tienes una cuenta? <a href="@Url.Action("IniciarSesion","Login")" class="text-primary">Iniciar Sesión</a>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script src="~/FuncionesSite/ConsultaNombres.js"></script>

<footer class="site-footer" role="contentinfo">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4 mb-5">
                <h3>Sobre nosotros</h3>
                <p class="mb-5">La empresa en si es una empresa muy exitosa.queremos que siempre nos elijas porque estaremos para brindarte una solucion y cumplir tus metas</p>
                <ul class="list-unstyled footer-link d-flex footer-social">
                    <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                    <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                    <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                    <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                </ul>

            </div>
            <div class="col-md-5 mb-5">
                <h3>Datos de contacto</h3>
                <ul class="list-unstyled footer-link">
                    <li class="d-block">
                        <span class="d-block">Direccion:</span>
                        <span class="text-white">10110 Parque central,San Jose, Costa Rica</span>
                    </li>
                    <li class="d-block"><span class="d-block">Telefono:</span><span class="text-white">+506 22785634</span></li>
                    <li class="d-block"><span class="d-block">Correo electronico:</span><span class="text-white">GYMContac@hotmail.com</span></li>
                </ul>
            </div>
            <div class="col-md-3 mb-5">
                <h3>enlaces Rapidos</h3>
                <ul class="enlace de pie de página sin estilo de lista">
                    <li><a href="@Url.Action("Acerca","login")">Acerca de</a>
                    <li><a href="@Url.Action("RegistrarCuenta","Login")">Registrarse</a>
                    <li><a href="@Url.Action("SeccionesPersonalizadas","")">Secciones</a>
                    <li><a href="@Url.Action("Comentario","login")">Comentarios</a>
                </ul>
            </div>
            <div class="col-md-3">

            </div>
        </div>
        <div class="row">
            <div class="col-12 text-md-center text-left">
                <p>
                    &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

                </p>
            </div>
        </div>
    </div>
    </div>
    @*PANEL PRINCIPAL*@

    </div>
    </div>

    <script src="~/template/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/template/vendors/chart.js/Chart.min.js"></script>
    <script src="~/template/js/off-canvas.js"></script>
    <script src="~/template/js/hoverable-collapse.js"></script>
    <script src="~/template/js/template.js"></script>
    <script src="~/template/js/settings.js"></script>
    <script src="~/template/js/todolist.js"></script>
    <script src="~/template/js/dashboard.js"></script>
    <script src="~/template/js/Chart.roundedBarCharts.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

    </body>
    </html>

