@{
    ViewBag.Title = "SeccionesPersonalizadas";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<section class="home-slider-loop-false  inner-page owl-carousel" style="margin-bottom: -100px;">
    <div class="slider-item" style="background-image: url('../../template/img/banner-bg.jpg');">

        <div class="container">



            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1> Secciones Personalizadas</h1>
                </div>
            </div>
        </div>

    </div>

</section>


<section class="section element-animate">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Secciones</h2>
                    <span class="back-text">Secciones</span>
                </div>
            </div>
        </div>
    </div>


    <section class="class-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="class-details-text">
                        <div class="cd-pic">
                            <img src="~/template/img/gallery-2.jpg">
                        </div>
                        <div class="cd-text">
                            <div class="cd-single-item">
                                <h3>Culturismo</h3>
                                <p>
                                    Es muy importante que el cliente preste atencion al salario del cliente.
                                    Ocurrieron con mucho trabajo y dolor. Para llegar al más minimo detalle, ¿quien es el nuestro?
                                    ejercicio de cualquier clase de trabajo, salvo que de el resulte alguna ventaja O dos
                                    Lamento decir que es muy dificil quitarse el dolor, pero lo voy a dar asi.
                                </p>
                            </div>
                            <div class="cd-single-item">
                                <h3>Entrenadora</h3>
                                <p>
                                    Es un dolor, va a pasar, pero es al mismo tiempo que pasa.
                                    con mucho trabajo y dolor. Para llegar al mas minimo detalle, ¿cual es nuestro ejercicio?
                                    ningun trabajo excepto que se pueda obtener alguna ventaja de el
                                </p>
                            </div>
                        </div>
                        <div class="cd-trainer">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="cd-trainer-pic">
                                        <img src="~/template/img/trainer-profile.jpg">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="cd-trainer-text">
                                        <div class="trainer-title">
                                            <h4>raquel</h4>
                                            <span>Entrenador de gimnasio</span>
                                        </div>
                                        <div class="entrenador-social">
                                            <a href="#"><i class="fa fa-facebook"></i></a>
                                            <a href="#"><i class="fa fa-twitter"></i></a>
                                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                                            <a href="#"><i class="fa fa-instagram"></i></a>
                                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                                        </div>
                                        <p>
                                            Es muy importante tener un servicio de atencion al cliente.
                                        </p>
                                        <ul class="informacion-entrenador">
                                            <li><span>Edad</span> 35</li>
                                            <li><span>Peso</span> 148lbs</li>
                                            <li><span>Altura</span> 10' 2``</li>
                                            <li><span>Ocupacion</span>no fundador</li>
                                        </ul>
                                        <p>
                                            Es muy importante tener un servicio de atencion al cliente para nosotros ya que nos facilitad ayudarle y atenderle
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="sidebar-option">
                        <div class="so-categories">
                            <h5 class="title">Categorias</h5>
                            <ul>
                                <li><a href="#">Yoga <span>12</span></a></li>
                                <li><a href="#">Correr <span>32</span></a></li>
                                <li><a href="#">Perdida de peso <span>86</span></a></li>
                                <li><a href="#">Cardio <span>25</span></a></li>
                                <li><a href="#">Culturismo <span>36</span></a></li>
                                <li><a href="#">Nutricion <span>15</span></a></li>
                            </ul>
                        </div>
                        <div class="so-latest">
                            <h5 class="title">Últimas publicaciones</h5>
                            <div class="slider-item" style="background-image: url('../../template/img/latest-1.jpg');">
                                <div class="ll-text">
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    
                                    <ul>
                                        <li>Agosto 20, 2019</li>
                                        <li>20 Comentarios</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="latest-item">
                                <div class="li-pic">
                                    <img src="~/template/img/latest-2.jpg">
                                </div>
                                <div class="li-text">
                                    <h6><a href="#">Ensalada De Patatas A La Parrilla Y Judías Verdes</a></h6>
                                    <span class="li-time">Agosto 15, 2019</span>
                                </div>
                            </div>
                            <div class="latest-item">
                                <div class="li-pic">
                                    <img src="~/template/img/latest-3.jpg">
                                </div>
                                <div class="li-text">
                                    <h6><a href="#">El rosado francés de $ 8 que compro al por mayor cada verano</a></h6>
                                    <span class="li-time">Agosto 15, 2019</span>
                                </div>
                            </div>
                            <div class="latest-item">
                                <div class="li-pic">
                                    <img src="~/template/img/latest-4.jpg">
                                </div>
                                <div class="li-text">
                                    <h6><a href="#">Pollo al limón asado en una sartén de Ina Garten</a></h6>
                                    <span class="li-time">Agosto 15, 2019</span>
                                </div>
                            </div>
                            <div class="latest-item">
                                <div class="li-pic">
                                    <img src="~/template/img/latest-5.jpg">
                                </div>
                                <div class="li-text">
                                    <h6><a href="#">Las mejores patatas horneadas entre semana, 3 formas creativas</a></h6>
                                    <span class="li-time">Agosto 15, 2019</span>
                                </div>
                            </div>
                        </div>
                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Class Details Section End -->
    <!-- Class Timetable Section Begin -->
    <section class="class-timetable-section class-details-timetable spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="col-md-12 text-center heading-wrap">
                        <h2>Nuestro Horario</h2>
                        <span class="back-text-dark">Horario</span>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" style="background-image: url('../../template/img/gallery-5.jpg');"></div>
                        <div class="text order-1">
                            <h2>Levantamiento de pesas</h2>
                            <p>Te esperamos en nuestro programa y instalaciones de levantamiento de pesas para aumentar la musculatura....</p>
                            <p class="Tiempo programado">
                                <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                                <span><span class="fa fa-calendar"></span> April 22, 2023</span> <br>
                            </p>


                        </div>

                    </div>

                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" style="background-image: url('../../template/img/latest-1.jpg');"></div>
                        <div class="text">
                            <h2>Boxeo</h2>
                            <p>Te esperamos en nuestras instalaciones para que comiences tus entrenamientos con los mejores profesores...</p>
                            <p class="sched-time">
                                <span><span class="fa fa-clock-o"></span> 3:30 PM</span> <br>
                                <span><span class="fa fa-calendar"></span> Enero 15, 2023</span> <br>
                            </p>


                        </div>

                    </div>

                </div>

                <div class="col-md-6">
                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image order-2" style="background-image: url('../../template/img/gallery-2.jpg');"></div>
                        <div class="text order-1">
                            <h2>Estiramientos</h2>
                            <p>T esperamos en nuestro nuevo horario para que no te pierdas tus secciones....</p>
                            <p class="Tiempo programado">
                                <span><span class="fa fa-clock-o"></span> 2:35 PM</span> <br>
                                <span><span class="fa fa-calendar"></span> Febrero 13, 2023</span> <br>
                            </p>


                        </div>

                    </div>

                    <div class="sched d-block d-lg-flex">
                        <div class="bg-image" style="background-image: url('../../template/img/gallery-3.jpg');"></div>
                        <div class="text">
                            <h2>Cardio</h2>
                            <p>Te esperamos en nuestras clases de correr y cardio no faltes....</p>
                            <p class="sched-time">
                                <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                                <span><span class="fa fa-calendar"></span> Noviembre 28, 2023</span> <br>
                            </p>


                        </div>



                    </div>



                </div>


            </div>


        </div>


        <div class="text-center mt-4 font-weight-light">
            Volver al menu <a href="@Url.Action("Index","Login")" class="text-primary">Volver ala pantalla principal</a>
            <br />
            Iniciar seccion <a href="@Url.Action("IniciarSesion","Login")" class="text-primary">IniciarSesion</a>
        </div>

        <!-- Vendor Start -->
        <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 mb-5">
                <div class="bg-white">
                    <div class="owl-carousel vendor-carousel">
                        <img src="img/vendor-1.jpg" alt="">
                        <img src="img/vendor-2.jpg" alt="">
                        <img src="img/vendor-3.jpg" alt="">
                        <img src="img/vendor-4.jpg" alt="">
                        <img src="img/vendor-5.jpg" alt="">
                        <img src="img/vendor-6.jpg" alt="">
                        <img src="img/vendor-7.jpg" alt="">
                        <img src="img/vendor-8.jpg" alt="">
                        <img src="img/vendor-9.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Vendor End -->
        <!-- Footer Start -->
        <footer class="site-footer" role="contentinfo">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-4 mb-5">
                        <h3>Sobre nosotros</h3>
                        <p class="mb-5">La empresa en si es una empresa muy exitosa.queremos que siempre nos elijas porque estaremos para brindarte una solucion y cumplir tus metas</p>
                        <ul class="list-unstyled footer-link d-flex footer-social">
                            <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                            <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                            <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                            <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                        </ul>

                    </div>
                    <div class="col-md-5 mb-5">
                        <h3>Datos de contacto</h3>
                        <ul class="list-unstyled footer-link">
                            <li class="d-block">
                                <span class="d-block">Direccion:</span>
                                <span class="text-white">10110 Parque central,San Jose, Costa Rica</span>
                            </li>
                            <li class="d-block"><span class="d-block">Telefono:</span><span class="text-white">+506 22785634</span></li>
                            <li class="d-block"><span class="d-block">Correo electronico:</span><span class="text-white">GYMContac@hotmail.com</span></li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-5">
                        <h3>enlaces Rapidos</h3>
                        <ul class="enlace de pie de página sin estilo de lista">
                            <li><a href="@Url.Action("Acerca","login")">Acerca de</a>
                            <li><a href="@Url.Action("RegistrarCuenta","Login")">Registrarse</a>
                            <li><a href="@Url.Action("SeccionesPersonalizadas","")">Secciones</a>
                            <li><a href="@Url.Action("Comentario","login")">Comentarios</a>
                        </ul>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-md-center text-left">
                        <p>
                            &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

                        </p>
                    </div>
                </div>
            </div>
            </div>
            @*PANEL PRINCIPAL*@

            </div>
            </div>

            <script src="~/template/vendors/js/vendor.bundle.base.js"></script>
            <script src="~/template/vendors/chart.js/Chart.min.js"></script>
            <script src="~/template/js/off-canvas.js"></script>
            <script src="~/template/js/hoverable-collapse.js"></script>
            <script src="~/template/js/template.js"></script>
            <script src="~/template/js/settings.js"></script>
            <script src="~/template/js/todolist.js"></script>
            <script src="~/template/js/dashboard.js"></script>
            <script src="~/template/js/Chart.roundedBarCharts.js"></script>
            <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
            <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
            <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

            </body>
            </html>
