<!DOCTYPE html>
<html lang="en">

<head>
    <title>Colorlib GYM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/Template/css/bootstrap.css">
    <link rel="stylesheet" href="~/Template/css/animate.css">
    <link rel="stylesheet" href="~/Template/css/owl.carousel.min.css">

    <link rel="stylesheet" href="~/Template/css/magnific-popup.css">


    <link rel="stylesheet" href="~/Template/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Template/fonts/fontawesome/css/font-awesome.min.css">

    <!-- Theme Style -->
    <link rel="stylesheet" href="~/Template/css/style.css">
    <link href="~/template/vendors/feather/feather.css" rel="stylesheet" />
    <link href="~/template/vendors/ti-icons/css/themify-icons.css" rel="stylesheet">
    <link href="~/template/vendors/css/vendor.bundle.base.css" rel="stylesheet">
    <link href="~/template/vendors/datatables.net-bs4/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/template/js/select.dataTables.min.css" rel="stylesheet">
    <link href="~/template/css/vertical-layout-light/style.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-scroller">



        @*HEADER*@
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="@Url.Action("Index","Login")"><img src="~/template/img/logo.png"></a>
                <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index","Login")"><img src="~/template/img/logo.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item cta-btn">
                        <a class="nav-link" href="@Url.Action("Comentario","login")">Comentarios</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item cta-btn">
                        <a class="nav-link" href="@Url.Action("SeccionesPersonalizadas","")">Secciones</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item cta-btn">
                        <a class="nav-link" href="@Url.Action("IniciarSesion","login")">Iniciar sesión</a>
                    </li>
                </ul>



                <ul class="navbar-nav ml-auto">
                    <li class="nav-item cta-btn">
                        <a class="nav-link" href="@Url.Action("Acerca","login")">Acerca de</a>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item cta-btn">
                        <a class="nav-link"
                    </li>
                </ul>

                @if (Session["ConUsuario"] != null)
                {
                    <div style="margin-left:2%">

                        <i class="fa fa-tag"></i>  @Session["Cant"].ToString() &nbsp;&nbsp;&nbsp;
                        <i class="fa fa-credit-card"></i>  @decimal.Parse(Session["Subt"].ToString()).ToString("N2") + iva
                    </div>
                }

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">

                        @if (Session["ConUsuario"] != null)
                        {
                            @Session["Nombre"]
                        }

                        &nbsp;&nbsp;&nbsp;

                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="~/Template/faces/face16.jpg" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">

                            @if (Session["ConUsuario"] != null)
                            {
                                <a class="dropdown-item" href="@Url.Action("PerfilUsuario","Usuario")">
                                    <i class="ti-settings text-primary"></i>
                                    Perfil
                                </a>
                                <a class="dropdown-item" href="@Url.Action("CerrarSesion","Login")">
                                    <i class="ti-power-off text-primary"></i>
                                    Cerrar Sesión
                                </a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("IniciarSesion","Login")">
                                    <i class="ti-home text-primary"></i>
                                    Iniciar Sesión
                                </a>


                                <a class="dropdown-item" href="@Url.Action("RegistrarCuenta","Login")">
                                    <i class="ti-panel text-primary"></i>
                                    Registrate
                                </a>

                                <a class="dropdown-item" href="@Url.Action("RecuperarCuenta","Login")">
                                    <i class="ti-settings text-primary"></i>
                                    Recuperar
                                </a>
                            }

                        </div>
                    </li>
                </ul>




                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>

        </nav>
        @*HEADER*@

        <div class="container-fluid page-body-wrapper">

            @if (Session["ConUsuario"] != null)
            {
                @*MENU LATERAL*@
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item" style="margin-top: 10px">

                            @if (Session["Rol"].ToString() == "Administrador")
                            {
                                <a class="nav-link" data-toggle="collapse" href="#ui-mantenimientos" aria-expanded="false" aria-controls="ui-mantenimientos">
                                    <i class="icon-layout menu-icon"></i>
                                    <span class="menu-title">Mantenimientos</span>
                                    <i class="menu-arrow"></i>
                                </a>
                                <div class="collapse" id="ui-mantenimientos">
                                    <ul class="nav flex-column sub-menu">

                                        <li class="nav-item">
                                            <a href="@Url.Action("ConsultaUsuarios", "Usuario")" class=" nav-link">Usuarios</a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="@Url.Action("ConsultaProductos", "Producto")" class=" nav-link">Productos</a>
                                        </li>

                                    </ul>


                                </div>
                            }


                        <li class="nav-item" style="margin-top:10px">
                            <a class="nav-link" href="@Url.Action("ConsultaCarrito", "Carrito")">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title">Pagos</span>
                            </a>

                        </li>

                        <li class="nav-item" style="margin-top:10px">
                            <a class="nav-link" href="@Url.Action("ConsultaFacturas", "Carrito")">
                                <i class="icon-grid menu-icon"></i>
                                <span class="menu-title">Facturas</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                @*MENU LATERAL*@
            }




            @*PANEL PRINCIPAL*@
        <div class="main-panel" style="width:100%">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        @RenderBody()
                    </div>
                </div>
            </div>

            @*FOOTER*@
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © @DateTime.Now.Year.  Derechos Reservados.</span>
                </div>
            </footer>
            @*FOOTER*@
            <!-- Footer Start -->
            <footer class="site-footer" role="contentinfo">
                <div class="container">
                    <div class="row mb-5">
                        <div class="col-md-4 mb-5">
                            <h3>Sobre nosotros</h3>
                            <p class="mb-5">La empresa en si es una empresa muy exitosa.queremos que siempre nos elijas porque estaremos para brindarte una solucion y cumplir tus metas</p>
                            <ul class="list-unstyled footer-link d-flex footer-social">
                                <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                                <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                            </ul>

                        </div>
                        <div class="col-md-5 mb-5">
                            <h3>Datos de contacto</h3>
                            <ul class="list-unstyled footer-link">
                                <li class="d-block">
                                    <span class="d-block">Direccion:</span>
                                    <span class="text-white">10110 Parque central,San Jose, Costa Rica</span>
                                </li>
                                <li class="d-block"><span class="d-block">Telefono:</span><span class="text-white">+506 22785634</span></li>
                                <li class="d-block"><span class="d-block">Correo electronico:</span><span class="text-white">FitnezzContac@hotmail.com</span></li>
                            </ul>
                        </div>
                        <div class="col-md-3 mb-5">
                            <h3>enlaces Rapidos</h3>
                            <ul class="enlace de pie de página sin estilo de lista">
                                <li><a href="#">Acerca de</a></li>
                                <li><a href="#">Condiciones de uso</a></li>
                                <li><a href="#">Descargos de responsabilidad</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-md-center text-left">
                            <p>
                                &copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

                            </p>
                        </div>
                    </div>
                </div>
        </div>
            @*PANEL PRINCIPAL*@

        </div>
    </div>

    <script src="~/template/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/template/vendors/chart.js/Chart.min.js"></script>
    <script src="~/template/js/off-canvas.js"></script>
    <script src="~/template/js/hoverable-collapse.js"></script>
    <script src="~/template/js/template.js"></script>
    <script src="~/template/js/settings.js"></script>
    <script src="~/template/js/todolist.js"></script>
    <script src="~/template/js/dashboard.js"></script>
    <script src="~/template/js/Chart.roundedBarCharts.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>

</body>
</html>